:root {
  /* color */
  --test-color: rgba(0, 0, 0, 0.3);
  --test-color1: rgba(0, 0, 0, 0.4);
  --test-color2: rgba(0, 0, 0, 0.5);
  --test-color3: rgba(0, 0, 0, 0.6);
  --grey-color4: #b2b2b2;
  --grey-color5: #656565;
  --white-color: #fff;
  /* font-size */
  --text-small: 11px;
  --text-medium: 12px;
  --text-double-medium: 13px;
  --text-large: 14px;

  /* max */
  --max-width: 1930px;
  --min-width: 980px;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}
/* -----------------------------------header-------------------------------------------- */
.header {
  min-width: var(--min-width);
  max-width: 1920px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.header .menuWrap {
  position: absolute;
  min-width: var(--min-width);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.header .menuWrap .hoverWrap {
  display: none;
  width: 100%;
  position: absolute;
  top: 115px;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  text-align: center;
}
.header .menuWrap .hoverWrap .hoverMenu {
  margin: 0 auto;
  display: none;
  text-align: center;
}

.header .menuWrap .hoverWrap .hoverMenu li {
  float: left;
  padding: 5px 0;
}
.header .menuWrap .hoverWrap .hoverMenu li a {
  color: #ffffff;
  font-size: 14px;
  padding: 0 10px;
}
.header .menuWrap .topmenu {
  border-bottom: 1px solid var(--grey-color4);
  max-width: 980px;
  width: 980px;
  /* height: 71px; */
  /* height: 100%; */
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 14px;
}
.header .menuWrap .topmenu ul {
  margin: 0;
  padding: 0;
  opacity: 0.5;
}
.header .menuWrap .topmenu a {
  color: var(--grey-color5);
}

/* --------leftmenu----------- */
.header .menuWrap .topmenu .leftmenu,
.header .menuWrap .topmenu .rightmenu {
  padding-top: 42px;
}
.header .menuWrap .topmenu .leftmenu {
  float: left;
}
.header .menuWrap .topmenu .leftmenu li {
  float: left;
  margin-right: 14px;
}

.header .menuWrap .topmenu .leftmenu li a {
  font-size: 12px;
  color: #fff;
}
.header .menuWrap .topmenu .leftmenu li .facebook {
  background: url(/img/gnb_facebook_wht.png) no-repeat 0 center;
  padding-left: 18px;
}
.header .menuWrap .topmenu .leftmenu li .youtube {
  background: url(/img/gnb_youtube_wht.png) no-repeat 0 center;
  padding-left: 18px;
}
.header .menuWrap .topmenu .leftmenu li .instagram {
  background: url(/img/gnb_follow_wht.png) no-repeat 0 center;
  padding-left: 18px;
}
/* -----------logo-------------- */
.header .menuWrap .topmenu .logo {
  display: inline-block;
  text-align: center;
  padding-top: 18px;
  padding-right: 57px;
}

/* -----rightmenu------------ */

.header .menuWrap .topmenu .rightmenu {
  float: right;
}

.header .menuWrap .topmenu .rightmenu ul li {
  float: left;
  margin-left: 14px;
}
.header .menuWrap .topmenu .rightmenu ul li a {
  font-size: 12px;
  color: #fff;
}

/* -------mainmenu----------- */
.header .mainmenu {
  max-width: 980px;
  width: 100%;
  height: 46px;
  margin: 0 auto;
  z-index: 3;
  position: relative;
}

.header .mainmenu .mainLeftBlank {
  float: left;
  width: 275px;
  height: 22px;
}
.header .mainmenu a {
  color: var(--white-color);
}

.header .mainmenu .infomenu {
  text-align: center;
  display: inline-block;
}

.header .mainmenu .infomenu > ul > li {
  float: left;
  position: relative;
}
.header .mainmenu .infomenu > ul > li:first-child {
  padding-left: 0;
}
.header .mainmenu .infomenu > ul > li::before {
  position: absolute;
  content: "";
  opacity: 0.4;
  left: 0;
  top: 55%;
  height: 9px;
  margin-top: -5px;
  padding: 0 15px;
  border-left: 1px solid #fff;
}
.header .mainmenu .infomenu > ul > li:hover {
  border-bottom: 2px solid red;
}
.header .mainmenu .infomenu > ul > li:first-child::before {
  border-left: none;
}

.header .mainmenu .infomenu ul li a {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 26px;
  font-size: 14px;
}

/* 0------------------------------------------------------------------------- */
.header .mainmenu .accountmenu {
  float: right;
}
.header .mainmenu .accountmenu ul li {
  float: left;
  margin-left: 25px;
}
.header .mainmenu .accountmenu ul li:first-child {
  margin-left: 0;
}
.header .mainmenu .accountmenu ul li a {
  font-size: 11px;
}

.header .mainmenu .accountmenu ul li .nav_my {
  background: url(/img/nav_side_my_wht.png) no-repeat 0 center;
  padding-left: 17px;
}
.header .mainmenu .accountmenu ul li .nav_reserve {
  background: url(/img/nav_side_reserve_wht.png) no-repeat 0 center;
  padding-left: 17px;
}
.header .mainmenu .accountmenu ul li .nav_side {
  background: url(/img/nav_side_all_wht.png) no-repeat 0 center;
  padding-left: 17px;
}

/* --------main---------- */
.main {
  background-color: #000;
}
/* oustsidetool */
.main .gradient {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  width: 980px;
  min-width: var(--min-width);
}
.main .top {
  width: 100%;
  height: 140px;
  background: linear-gradient(
    to bottom,
    rgba(29, 29, 31, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;
}
.main .bottom {
  /*   */

  width: 100%;
  top: 634px;
  height: 140px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;
}

.main .owl-nav {
  min-width: var(--min-width);
  max-width: 1920px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 350px;
  z-index: 2;
}

.main .-box_nav {
  min-width: var(--min-width);
  max-width: 1116px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  right: 50%;
  left: auto;
  margin: 0px -558px 0 0;
  bottom: 186px;
  z-index: 0;
}
.main .owl-nav .custombtn {
  width: 31px;
  height: 60px;
  cursor: pointer;
  margin: 0px 30px;
}
.main .-box_nav .custombtn {
  width: 31px;
  height: 60px;
  cursor: pointer;
  margin: 0px 30px;
}

.main .owl-nav .customNextBtn {
  background: url(/img/arr_rg_31_wht.png) no-repeat;
  float: right;
}
.main .owl-nav .customPrevBtn {
  background: url(/img/arr_lf_31_wht.png) no-repeat;
  float: left;
}
.main .-box_nav .box_customNextBtn {
  background: url(/img/arr_rg_31_wht.png) no-repeat;
  background-size: 20px 40px;
  float: right;
}
.main .-box_nav .box_customPrevBtn {
  background: url(/img/arr_lf_31_wht.png) no-repeat;
  background-size: 20px 40px;
  float: left;
}
/* ------------.-top-carouselbox -----------*/
.main .carouselWrap {
  min-width: var(--min-width);
  max-width: 1920px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.main .carouselWrap .-top-carouselbox {
  width: 1920px;
  height: 774px;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 0;
  width: 1920px;
  margin-left: -960px;
}

.main .carouselWrap .movie-date {
  position: absolute;
  right: 50%;
  left: auto;
  top: auto;
  bottom: 461px;
  margin: 0px -476px -92px 0;
  z-index: 2;
}
.main .carouselWrap .movie-date a {
  color: #fff;
  z-index: 2;
  font-size: 11px;
  background: url(/img/time2.png) no-repeat 0 center;
  padding-left: 15px;
}
.main .carouselWrap .owl-dots {
  position: absolute;
  right: 50%;
  left: auto;
  top: auto;
  bottom: 436px;

  margin: 0px -446px 0 0;
  z-index: 4;
}
.main .carouselWrap .owl-dots .owl-dot {
  width: 7px;
  float: left;
  height: 7px;
  margin: 5px 4px;
  background: black;
  opacity: 0.7;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  outline: 0;
  border: 0;
}
.main .carouselWrap #playPause {
  position: absolute;
  right: 50%;
  left: auto;
  top: auto;
  bottom: 461px;
  margin: 0px -472px -21px 0;
  z-index: 4;
}
.main .carouselWrap #playPause .play {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid white;
  border-bottom: 5px solid transparent;
  opacity: 1;
}
.main .carouselWrap #playPause .pause {
  width: 6px;
  height: 6px;

  background-color: white;
  opacity: 0.2;
}
.main .carouselWrap #playPause .play.selected,
.main .carouselWrap #playPause .pause.selected {
  opacity: 1;
}
.main .carouselWrap .owl-dots .owl-dot.active,
.main .carouselWrap .owl-dots .owl-dot:hover,
.main .carouselWrap .owl-dots .owl-dot:focus {
  cursor: pointer;
  opacity: 1;
}

/* --------boxoffice-carouselbox---------- */

.-boxoffice-carouselbox {
  top: 774px;
  width: 100%;
  height: 355px;
  margin: 0 auto;
  z-index: 4;
  background-color: #000;
  padding-top: 774px;
}
.-boxoffice-carouselbox .owl-carousel {
  position: absstolute;
  max-width: 980px;
  width: 980px;
  left: 50%;
  right: 50%;
  margin-left: -490px;
}
#owl2 .owl-dots {
  display: none;
}
#owl2 .owl-item {
  position: relative;
}
#owl2 .owl-item .bookingDetail {
  display: none;
  position: absolute;
  top: 87px;
  left: 25px;
  z-index: 5;
}
#owl2 .owl-item .bookingDetail > div {
  border: 1px solid white;
  border-radius: 6px;
  margin: 10px 0;
}
#owl2 .owl-item .bookingDetail > div a {
  font-size: 12px;
  color: #fff;
  padding: 2px 45px;
  vertical-align: 11%;
  cursor: pointer;
}
#owl2 .owl-item:hover .bookingDetail {
  display: block;
}
#owl2 .owl-item:hover img {
  opacity: 0.4;
}
#owl2 .owl-item img {
  position: relative;
  width: 184px;
  height: 262px;
  border-radius: 2%;
}
#owl2 .owl-item a {
  width: 100%;
  height: 100%;
}
#owl2 .owl-item a .ranknum {
  position: absolute;
  bottom: 50px;
  left: 10px;
  font-size: 25px;
  color: white;
  font-style: italic;
  font-weight: bold;
}
#owl2 .AD .bookingDetail {
  top: 104px;
}
#owl2 .AD a .ranknum {
  bottom: -4px;
}
#owl2 .owl-item .info {
  color: #fff;
  font-size: var(--text-double-medium);
  text-align: center;
  margin-right: 10px;
  padding-top: 15px;
}
#owl2 .owl-item .subinfo {
  color: #fff;
  height: 20px;
  padding: 2px 0 0 0;
  font-size: var(--text-small);
  text-align: center;
  margin-right: 10px;
}
#owl2 .owl-item .subinfo > span {
  margin-left: 8px;
  font-family: "Roboto", "Noto Sans KR";
}
#owl2 .owl-item .subinfo > span::before {
  content: "";
  opacity: 1;
  position: absolute;
  left: 0;
  top: 50%;
  height: 9px;
  margin-top: -5px;
  padding: 0 15px;
  border-left: 1px solid #fff;
}
#owl2 .owl-item .subinfo > span:first-child::before {
  border-left: none;
}
#owl2 .owl-item .rateinfo {
  font-size: var(--text-small);
}
#owl2 .owl-item .starinfo {
  background: url(/img/ic_star.png) no-repeat 9px 45%;
  padding-left: 23px;
  font-size: var(--text-small);
  position: relative;
}
#owl2 .owl-item .bookinginfo .btn-booking {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background: url(/img/heart_rnd_16_off.png);
}

#owl2 .owl-item .score {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#owl2 .owl-item .booking-icon {
  width: 16px;
  height: 16px;
  margin: 0;
  right: 30px;
  bottom: 3px;
  display: inline-block;
}

/* ------------------addinfo-=--------------- */
.subMain {
  min-width: var(--min-width);
  width: 980px;
  height: 100%;
  margin: 0 auto;
  padding-top: 45px;
  overflow: hidden;
}
.subMain .addinfo .info {
  display: inline-block;
  padding-bottom: 13px;
}
/* same tag */
.subMain .addinfo .more-btn {
  float: right;
  padding-top: 12px;
}
.subMain .addinfo .event .more-btn {
  right: 10px;
}
.subMain .addinfo .more-btn.text {
  background: url(/img/arr_rg_6.png) no-repeat right 8.5px;
  width: auto;
  padding: 5px 10px 0 0;
  color: #666666;
  font-size: 10px;
  vertical-align: super;
}
/* ---------------------------------------- */
/* specialtheater */
.subMain .addinfo .special-theater {
  width: 100%;
  height: 100px;

  position: relative;
}
.subMain .addinfo .special-theater::before {
  content: "";
  opacity: 1;
  position: absolute;
  left: 1px;
  top: 30%;
  width: 949px;
  height: 9px;
  margin-top: -5px;
  padding: 0 15px;
  border-bottom: 1px dashed #000;
  opacity: 0.2;
}
.subMain .addinfo .special-theater {
  font-size: 17px;
}

.subMain .addinfo .special-theater .specialList {
  width: 980px;
  padding: 10px 0px;
}
.subMain .addinfo .special-theater .specialList li {
  float: left;
  padding: 19px;
}
/* -----------event---------------------- */
.subMain .addinfo .event {
  padding: 35px 0 13px 0;
}
.subMain .addinfo .event li {
  float: left;
  margin-right: 7px;
  margin-bottom: 11px;
  box-sizing: border-box;
}
.subMain .addinfo li img {
  border-radius: 2%;
}
.subMain .addinfo .event .event_1 {
  width: 185.5px;
  height: 250px;
}
.subMain .addinfo .event .event_3 {
  width: 285px;
  height: 250px;
}
.subMain .addinfo .event .event_4 {
  float: right;
  width: 290px;
  height: 511px;
}
.subMain .addinfo .event .event_5 {
  width: 478px;
  height: 250px;
  margin-right: 10px;
}
.subMain .addinfo .event .event_6 {
  width: 182px;
  height: 250px;
}

/* -------------stagegreeting------------------ */
.subMain .addinfo .stage-greeting {
  width: 980px;
  padding: 3px 0 47px 0;
}

.subMain .addinfo .stage-greeting li {
  float: left;
}
.subMain .addinfo .stage-greeting li:nth-child(2) {
  padding: 0px 18px 0 18px;
}
/* ----------endmenu---------- */
.subMain .addinfo .end-menu {
  width: 990px;
  height: 135px;
  top: 965px;
  padding-bottom: 50px;
}
.subMain .addinfo .end-menu li {
  float: left;
  padding: 4.5px;
}

/* ----------notice------------- */
.subMain .addinfo .notice {
  width: 980px;
  position: relative;
  height: auto;
  font-size: 13px;
}
.subMain .addinfo .notice .info {
  position: relative;
}
.subMain .addinfo .notice::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #000;
  width: 980px;
  top: 27px;
  opacity: 0.5;
}
.subMain .addinfo .notice .info::before {
  content: "";
  position: absolute;
  border-right: 0.7px solid #000;
  top: 4px;
  height: 13px;
  left: 68px;
}
.subMain .addinfo .notice #upwardnotice {
  position: absolute;

  top: 0;
  left: 92px;
  width: 300px;
  display: inline-block;
}
.subMain .addinfo .notice #upwardnotice #upward {
  height: 20px;
  overflow: hidden;
}

/* ---------banner------------ */
.banner {
  padding: 0px 0 83px 0;
  text-align: center;
}
.banner .banner01 {
  min-width: var(--min-width);
  width: 980px;
  margin: 0 auto;

  height: 180px;
  padding: 65px 0 48px 0;
}
.banner .banner01 .image {
  height: 180px;
  background: url(/img/Dark_980180.jpg) no-repeat 0 center;
}
.banner .banner02 {
  background-color: rgb(255, 219, 0);
  position: relative;
  z-index: 1;
}
.banner .banner02::after {
  content: "";
  width: 100%;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: -1;
}
.banner .banner02 .image {
  width: 980px;
  margin: 0 auto;
  height: 242px;
  background: url(/img/Inbyu_980240.png) no-repeat;
  z-index: 1;
}

/* ----------footer------------- */
.footer {
  max-width: 980px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  width: 980px;
  font-size: 12px;
  padding-left: 5px;
  color: #4d4d4d;
}
.footer .endLogo {
  width: 203px;
  height: 36px;
  background: url(/img/logo_footer.gif) no-repeat;
  padding-bottom: 18px;
}
.footer .footerwrap li {
  position: relative;
}
.footer .footerwrap .info {
  padding-bottom: 13px;
}
.footer .footerwrap .info li {
  float: left;
  margin-right: 10px;
  padding-left: 10px;
}
.footer .footerwrap .info li:first-child {
  padding-left: 0;
}
.footer .footerwrap .info li::before {
  content: "";
  position: absolute;
  top: 28%;
  height: 10px;
  left: 0;
  border-left: 1px solid #000;
}
.footer .footerwrap .info li:first-child::before {
  border-left: none;
}
.footer .footerwrap .info a {
  color: #000;
}

/* ----------------addresswrap----------- */
.footer .footerwrap .addresswrap {
  width: 895px;
  left: 20px;
  line-height: 16px;
}
.footer .footerwrap .addresswrap .address {
  display: inline-block;
}
.footer .footerwrap .addresswrap .address li {
  float: left;
  position: relative;
  padding-right: 10px;
}
.footer .footerwrap .addresswrap .address li:first-child::before {
  content: "";
  position: absolute;
  border-right: 1px solid #000;
  top: 25%;
  height: 10px;
  left: 265px;
}

/* -----------ceo--------- */
.footer .footerwrap .addresswrap .ceo {
  display: inline-block;
}
.footer .footerwrap .addresswrap .ceo li {
  float: left;
  position: relative;
  margin-right: 10px;
}
.footer .footerwrap .addresswrap .ceo li::before {
  content: "";
  position: absolute;
  border-left: 1px solid #000;
  height: 10px;
  top: 30%;
  margin-left: -5px;
}
.footer .footerwrap .addresswrap .ceo li:first-child:before {
  border-left: none;
}

.end-award {
  min-width: 980px;
  margin: 51px auto 0;
  padding: 15px 0;
  background: #f5f5f5;
}
.end-award .image {
  margin: 0 auto;

  max-width: 980px;
  height: 50px;
}
.end-award .image li {
  float: left;
  margin: 0 4px;
}
